.chartInPress {
  width:  900px;
  height: 290px;
  padding: 35px;
  background-color: rgba(255, 255, 255, .9);
  border: .2px solid #7DBDB5;
  border-radius: 20px;
  box-shadow: 0px 0px 50px -20px #7DBDB5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

.backChartBtnInPress:hover:after,
.windChartBtnInPress:hover:after,
.tempChartBtnInPress:hover:after {
  display: block;
  position: absolute;
  background-color: #9E7394;
  padding: 4px 7px;
  font-size: 16px;
  color: #FFF;
  border-radius: 7px;
  border: 3px solid #FFF;
}

.backChartBtnInPress {
  position: absolute;
  top:   20px;
  right: 15px;
  font-size: 24px;
  color: #7DBDB5;
}

.backChartBtnInPress:hover {
  color: #F39402;
  top:   19px;
}

.backChartBtnInPress:hover:after {
  content: 'Back';
  top: 40px;
  right: -15px;
  background-color: #7DBDB5;
}

.windChartBtnInPress{
  position: absolute;
  top:   20px;
  right: 110px;
  font-size: 24px;
  color: #7DBDB5;
}

.windChartBtnInPress:hover {
  color: #F39402;
  top:   19px;
}

.windChartBtnInPress:hover:after {
  content: 'Wind';
  top: 40px;
  right: -15px;
  background-color: #7DBDB5;
}

.tempChartBtnInPress{
  position: absolute;
  top:   20px;
  right: 60px;
  font-size: 24px;
  color: #7DBDB5;
}

.tempChartBtnInPress:hover {
  color: #F39402;
  top:   19px;
}

.tempChartBtnInPress:hover:after {
  content: 'Temperature';
  top: 40px;
  right: -41px;
  background-color: #7DBDB5;
}